.jx06pet{
    z-index : 9999;
    filter: blur(0px) !important;
    user-select: none;
    /* pointer-events: none; */
}
.jx06fish{
    z-index : 9990;
    filter: blur(0px) !important;
    user-select: none;
    /* pointer-events: none; */
}